* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/**
*
* Adjustment settings
*
**/
html,
body {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

.maincontent {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0;
      -ms-flex: 1 0;
          flex: 1 0; }

a {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0; }
